<form class="sign-form" #signupForm="ngForm" (ngSubmit)="submit(signupForm)">
    <div>
      <input type="text" placeholder="email" name="email" ngModel required/>
    </div>
    <div>
      <input type="text" placeholder="password" name="password" ngModel required/>
    </div>
    <div>
      <input type="text" placeholder="confirm password" name="confirmPassword" ngModel required/>
    </div>
    <div>
      <button type="submit" class="btn" [disabled]="!signupForm.valid">Sign up</button>
    </div>
    <div class="error">
      {{this.error}}
    </div>
    <div>
      {{this.info}}
    </div>
  </form>