<div>
  <div class="header">
    <div class="header-pages">
      <a routerLink = "/public" class="btn btn-link header-link">Public</a>
      <a routerLink = "/private" class="btn btn-link header-link">Private</a>
    </div>
    <div class="header-sign">
      <a routerLink = "/signup" class="btn btn-link header-link">Signup</a>
      <a routerLink = "/signin" class="btn btn-link header-link">Signin</a>
    </div>
  </div>
  <hr />
  <div class="body">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>